# Byte-compiled / caches
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
files/.venv/

# macOS
.DS_Store

# IDEs and editors
.vscode/
.idea/

# Logs
*.log

# Packaging
dist/
build/
*.egg-info/
